<br><h1>Создание структурных директив</h1>
<chap3-child6-comp></chap3-child6-comp>
<br><h1>Создание структурных директив - END</h1>

<br><h1>Структурные директивы ngIf, ngFor, ngSwitch</h1>
<chap3-child5-comp></chap3-child5-comp>
<br><h1>Структурные директивы ngIf, ngFor, ngSwitch - END</h1>

<br><h1>Получение параметров в директивах</h1>
<chap3-child4-comp></chap3-child4-comp>
<br><h1>Получение параметров в директивах - END</h1>

<br><h1>Взаимодействие с пользователем, HostListener и HostBinding</h1>
<chap3-child3-comp></chap3-child3-comp>
<br><h1>Взаимодействие с пользователем, HostListener и HostBinding - END</h1>

<br><h1>Создание атрибутивных директив</h1>
<chap3-child2-comp></chap3-child2-comp>
<br><h1>Создание атрибутивных директив - END</h1>

<br><h1>ngClass и ngStyle</h1>
<chap3c1-comp></chap3c1-comp>
<br><h1>ngClass и ngStyle - END</h1>



