<div [ngClass]="{verdanaFont:isVerdana}">
    <h1>Hello Angular 8</h1>
    <p [ngClass]="{segoePrintFont:isSegoe}">
        Angular 8 представляет модульную архитектуру приложения
    </p>
</div>
<div [class.verdanaFont]="true">
    <h1>Hello Angular 5</h1>
    <p [class.verdanaFont]="false" [class.segoePrintFont]="true">
        Angular 5 представляет модульную архитектуру приложения
    </p>
</div>
<div [ngClass]="currentClasses">
    <h1>Hello Angular 8</h1>
    <p>
        Angular 8 представляет модульную архитектуру приложения
    </p>
</div>
<div [ngStyle]="{'font-size':'13px', 'font-family':'Verdana'}">
    <h1> Hello Angular 8</h1>
    <p [ngStyle]="{'font-size':'14px', 'font-family':'Segoe Print'}">
        Angular 8 представляет модульную архитектуру приложения
    </p>
</div>