<p *ngIf="condition">
    Привет мир
</p>
<p *ngIf="!condition">
    Пока мир
</p>
<p *ngIf="condition; else unset">
    Привет мир 2
</p>
<ng-template #unset>
    <p>Пока мир 2</p>
</ng-template>
<div *ngIf="condition; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>Then template</ng-template>
<ng-template #elseBlock>Else template</ng-template>
<br>
<button (click)="toggle()">Toggle</button>
<br><br>
<ul>
    <li *ngFor="let item of items;">{{item}}</li>
</ul>
<div>
    <p *ngFor="let item of items; let i = index">{{i+1}}.{{item}}</p>
</div>
<br><br>
<div [ngSwitch]="count">
    <ng-template ngSwitchCase="1">{{count * 10}}</ng-template>
    <ng-template ngSwitchCase="2">{{count * 100}}</ng-template>
    <ng-template ngSwitchDefault>{{count * 1000}}</ng-template>
</div>